/*
* @Author: lenovo
* @Date:   2018-04-17 22:25:41
* @Last Modified by:   RamboYoung007700
* @Last Modified time: 2018-04-25 08:37:15
*/

html {
    font-size: 12px;
}

body {
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 5.688rem;
    width: 100%;
    background-color: #5fc0cd;
}

header span {
    display: inline-block;
    color: white;
    line-height: 5.688rem;
}

.close {
    float: left;
    margin-left: 4.17%;
    width: 20%;
    text-align: left;
    font-size: 1.422rem;
    font-family: simsun;
}


.login {
    width: 51.66%;
    text-align: center;
    font-size: 1.6rem;
    font-family: simsun;
}

.reg {
    float: right;
    margin-right: 4.17%;
    width: 20%;
    text-align: right;
    font-size: 1.422rem;
    font-family: simsun;
}

.place{
    height: 5.688rem;
    width: 100%;
    background-color: #eff0f4;

}

.input {
    display: flex;
    height: 5.733rem;
    background-color: #eff0f4;
}

.innerbox {
    display: flex;
    align-items: center;
    height: 4.489rem;
    width: 100%;
    margin-top: 0.622rem;
    background-color: white;
}

.innerbox img {
    height: 18.222px;
    padding-left: 1.911rem;
    padding-right: 2.044rem;
    border-right: solid 2px #eff0f4;
    flex-grow: 0;
}



.text {

    border: hidden;
    outline: none;
    font-size: 18px; 
    padding-left: 1.467rem;
    flex-grow: 1;
}

footer {
    height: 5.688rem;
    width: 100%;
    background-color: #5fc0cd;
    color: white;
    line-height: 5.688rem;
    text-align: center;
    font-size: 1.6rem;
    font-family: simsun;
}

.forget {
    margin-right: 3%;
    text-align: right;
    color: #5fc0cd;
    font-size: 1.422rem;
    font-family: simsun;
    line-height: 3rem;
}